main{
    width: 70%;
    display: flex;
    justify-content: center;
}
aside{
    width: 30%;
    background-color: lightgray;
}
div{
    width: 50px;
    height: 50px;
}
#div1{
    background-color: red;
}
#div2{
    background-color: green;
}
#div3{
    background-color: blue;
}